https://www.perplexity.ai/search/94f7fc8c-0595-416f-b080-1e318bd7404d

In [22]:
import numpy as np
import pandas as pd

data = pd.Series(np.random.randn(9),
                index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                       [1, 2, 3, 1, 2, 3, 1, 2, 3]])
data

a  1   -0.219338
   2   -1.017510
   3   -0.293210
b  1    1.246248
   2    0.701981
c  3   -0.832499
   1   -0.221026
d  2    1.875909
   3   -0.285145
dtype: float64

In [23]:
data['a']

1   -0.219338
2   -1.017510
3   -0.293210
dtype: float64

In [24]:
data['a'][2]

np.float64(-1.0175100627337428)

In [25]:
data['a':'b']

a  1   -0.219338
   2   -1.017510
   3   -0.293210
b  1    1.246248
   2    0.701981
dtype: float64

In [26]:
#Series->堆疊資料>(long data)
#2維資料->非堆疊資料>(width data)
#data.unstack().stack()
data.unstack()

          1         2         3
a -0.219338 -1.017510 -0.293210
b  1.246248  0.701981       NaN
c -0.221026       NaN -0.832499
d       NaN  1.875909 -0.285145

In [29]:
data.index.names = ['key1','key2']
data.groupby(level='key1').sum()

key1
a   -1.530058
b    1.948229
c   -1.053525
d    1.590764
dtype: float64

In [30]:
data.groupby(level=['key1','key2']).sum()

key1  key2
a     1      -0.219338
      2      -1.017510
      3      -0.293210
b     1       1.246248
      2       0.701981
c     1      -0.221026
      3      -0.832499
d     2       1.875909
      3      -0.285145
dtype: float64

### 使用unstack()時,(組合)索引不可以重複

In [36]:
import numpy as np
import pandas as pd

data = pd.Series(np.random.randn(10),
                index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd','a'],
                       [1, 2, 3, 1, 2, 3, 1, 2, 3,1]])

#索引(a,1)重複了，無法做unstack
#必須先groupby完後，才可以unstack
data.index.names = ['key1','key2']
data1 = data.groupby(level=['key1','key2']).sum()
data1.unstack()

key2         1         2         3
key1
a     2.778321 -2.296224  0.996825
b     0.321023  0.077502       NaN
c    -0.795665       NaN  1.473066
d          NaN  0.571491 -1.570524

In [14]:
frame = pd.DataFrame(np.arange(12).reshape((4, 3)),
                    index=[['a','a','b','b'],[1, 2, 1, 2]],
                    columns=[['台北','台北','台中'],['Green','Red','Green']])
frame.index.names = ['key1','key2']
frame.columns.names = ['縣市','顏色']
frame

縣市           台北        台中
顏色        Green Red Green
key1 key2
a    1        0   1     2
     2        3   4     5
b    1        6   7     8
     2        9  10    11

In [15]:
series1 = frame.stack(level=['縣市','顏色'],future_stack=True)
series1.unstack(level=['key1', '縣市'])

key1          a          b
縣市           台北   台中    台北    台中
key2 顏色
1    Green  0.0  2.0   6.0   8.0
     Red    1.0  NaN   7.0   NaN
2    Green  3.0  5.0   9.0  11.0
     Red    4.0  NaN  10.0   NaN

In [16]:
frame = pd.DataFrame(np.arange(12).reshape((4, 3)),
                    index=[['a','a','b','b'],[1, 2, 1, 2]],
                    columns=[['台北','台北','台中'],['Green','Red','Green']])
frame.index.names = ['key1','key2']
frame.columns.names = ['縣市','顏色']
frame

縣市           台北        台中
顏色        Green Red Green
key1 key2
a    1        0   1     2
     2        3   4     5
b    1        6   7     8
     2        9  10    11

In [19]:
frame.T.groupby(level='顏色').sum()

key1   a      b
key2   1  2   1   2
顏色
Green  2  8  14  20
Red    1  4   7  10